body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8edbbf6;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #6d9e98;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    color: #f3e5f5;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#add-invoice-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #f4fcc7;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    outline: none;
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(82, 120, 161, 0.5);
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #023061;
    color: #f8bebe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #04264b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #e7a3a3;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #3d4643;
}

tr:hover {
    background-color: #bd9191;
    transition: background-color 0.3s;
}
